h4
{
    text-align: center;
}

figure
{
    margin: 15px 0;
}

figure i
{
    position: absolute;
    right: 25px;
}

table
{
    width: 100%;
}

table th, table td
{
    padding: 7px 10px;
    border: 2px solid #eeeeee;
    background-color: #dddddd;
    text-align: center;
}

img
{
    margin: 0 5px;
    border-radius: 50%;
    vertical-align: sub;
}

.tabs button
{
	width: 100px;
	margin: 0 10px;
	padding: 5px 10px;
	background-color: #dddddd;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
}

.tabs button:hover
{
	background-color: #cccccc;
}

.tabs button.active
{
	background-color: #bbbbbb;
}

.tab-content
{
	display: none;
}

@media (min-width: 992px)
{
    #standings table
    {
        width: 65%;
        margin: 0 auto;
    }
}